* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
}


/* Classe container  */
.container {
    width: 80%;
    margin: 0 auto;
    background-color: white;
    margin-top: 20px; 
}

/* Definizione stile body  */
body{
  background-color: azure; 
}

/* Definizione classe inside header  */
.Inside-header{

display: inline-block;
vertical-align: middle;
padding: 5px;
}


/* definzione classe button-section  */
.button-section{

border-bottom: 1px solid black;
padding-left: 30px;
padding-top: 10px;
padding-bottom: 10px; 


}

/* Definzione classe style  */
.button-style{
    border: 1px solid ;
    border-radius: 6px;
    padding: 4px;
    
}


/* definizione id button task */
#button-task{
border-color: rgb(35, 151, 247);;  
color: white;
background-color: rgb(35, 151, 247);

}

/* definzione button section  */
#button-section{
    
border-color: rgba(0, 0, 0, 0.342);; 
color: rgba(0, 0, 0, 0.342);

}

/* definizione classe task  */
.task{

margin-top: 20px;
padding-left: 30px;
font-family: sans-serif;
font-size: 1rem;
padding-bottom: 20px;
padding-top: 10px;

}


/* definizione triangolo  */
#triangolo {

    width: 0;
    height: 0;
    border-top: 8px solid black;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    display: inline-block;

}

/* definizione divnella classe task  */
.task div{

 display: inline-block;   

}


/* definizione classe tag  */
.tag{
color: white;
background-color: rgb(53, 106, 204);
padding: 4px;
border-radius: 7px;
font-size: small;

}

/* Definizione classe task-list */
.task-list{

padding-left: 30px;

}

/* definizione classe check  */
.check{

color: green;
border: 1px solid green;
padding: 2px;
padding-left: 5px;
padding-right: 5px;
border-radius: 12px;

}


/* definizione id cross  */
#cross{

color: red;
border-color: red;

}

/* Definizione classe list-element  */

.list-element{

margin-bottom: 25px;

}


/* Definizione id goals  */
#goals{

background-color: blueviolet;
}

/* definizione id recuitring  */
#recruiting{
background-color: rgb(57, 223, 57);

}

/* definizione id website  */
#website{
background-color: rgb(236, 47, 227);

}

/* definizione id sales  */
#sales{

background-color: lightgreen;

}

