* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
}


.container {
    width: 80%;
    margin: 0 auto;
    background-color: white;
    margin-top: 20px; 
}
body{
  background-color: azure; 
}

.Inside-header{

display: inline-block;
vertical-align: middle;
padding: 5px;
}

.button-section{

border-bottom: 1px solid black;
padding-left: 30px;
padding-top: 10px;
padding-bottom: 10px; 


}

.button-style{
    border: 1px solid ;
    border-radius: 6px;
    padding: 4px;
    
}

#button-task{
border-color: rgb(35, 151, 247);;  
color: white;
background-color: rgb(35, 151, 247);

}

#button-section{
    
border-color: rgba(0, 0, 0, 0.342);; 
color: rgba(0, 0, 0, 0.342);

}

.task{

margin-top: 20px;
padding-left: 30px;
font-family: sans-serif;
font-size: 1rem;
padding-bottom: 20px;
padding-top: 10px;

}



   #triangolo {
    width: 0;
    height: 0;
    border-top: 8px solid black;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    display: inline-block;
    }

.task div{

 display: inline-block;   

}


.task-list{

padding-left: 30px;

}


.check{
color: green;
border: 1px solid green;
padding: 2px;
padding-left: 5px;
padding-right: 5px;
border-radius: 12px;
}


#cross{
color: red;
border-color: red;
padding-right: 1px;
padding-left: 4px;
}


.list-element{

margin-bottom: 25px;


}