* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
}


.container {
    width: 80%;
    margin: 0 auto;
    background-color: white;
    margin-top: 20px; 
}
body{
  background-color: azure; 
}

.Inside-header{

display: inline-block;
vertical-align: middle;
padding: 5px;
}

.button-section{

border-bottom: 1px solid black;
padding-left: 20px;
padding-top: 10px;
padding-bottom: 10px; 


}

.button-style{
    border: 1px solid ;
    border-radius: 6px;
    padding: 4px;
    
}

#button-task{
border-color: rgb(35, 151, 247);;  
color: white;
background-color: rgb(35, 151, 247);

}

#button-section{
    
border-color: rgba(0, 0, 0, 0.342);; 
color: rgba(0, 0, 0, 0.342);

}

